<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Welcome to the Library</h1>
        <p>Find your next great read.</p>
        <h3>How to use</h3>
        <p>
          Navigate using the non-user view, user-view and librarian view on the
          navigation bar.
        </p>
        <p>Or click one of the buttons below</p>
        <button type="button" class="btn btn-primary guest-button">
          Guest
        </button>
        <button type="button" class="btn btn-secondary">Librarian</button>
        <button type="button" class="btn btn-success">Bookworm</button>
        <h3>Technologies used</h3>
        <ul>
          <li>EJS</li>
          <li>Node.js</li>
          <li>MongoDB (Mongoose)</li>
        </ul>
      </div>
    </main>
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= userName %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>

<script>
  const guestButton = document.querySelector(".guest-button");
  const variable = 2;

  guestButton.addEventListener("click", async (e) => {
    try {
      const res = await fetch("/guestButton", {
        method: "POST",
        body: JSON.stringify({ variable }),
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json, text/plain, */*",
        },
      });
      const data = await res.json;
      console.log(data);
    } catch (err) {
      console.log("ERROR: " + err);
    }
  });
</script>
