<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <h1 class="d-flex justify-content-center">Welcome to the Library</h1>
        <p class="d-flex justify-content-center">
          An expansive database of books and authors
        </p>
        <div class="d-flex justify-content-center">
          <a href="/books" type="button" class="btn btn-primary btn-lg mr-5">
            List of Books
          </a>
          <a href="/authors" type="button" class="btn btn-success btn-lg mr-5">
            List of Authors
          </a>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
